[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An algorithm to insert ELs into a label stack. Reference: draft-ietf-mpls-spring-entropy-label.
[access "refs/*"]
	owner = group user/SriganeshKini
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SriganeshKini
	label-Verified = -1..+1 group user/SriganeshKini
	push = group user/SriganeshKini
	read = group user/SriganeshKini
	rebase = group user/SriganeshKini
	removeReviewer = group user/SriganeshKini
	submit = group user/SriganeshKini
[access "refs/heads/*"]
	create = group user/SriganeshKini
	push = +force group user/SriganeshKini
	pushMerge = group user/SriganeshKini
	read = group user/SriganeshKini
[access "refs/tags/*"]
	push = group user/SriganeshKini
	push = +force group user/SriganeshKini
